@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

:root{
    --primary-color: #BE185D;
    --secondary-color: #FBCFE8;
}

body{
    font-family: 'Salsa', cursive;
    background-color: var(--secondary-color);
    /* display: flex; */
}

a{
    text-decoration: none;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    color: white;
    display: flex;
    float: right;
    padding-bottom: 1rem;
}

.nav-bar{
    background-color: var(--primary-color);
    color: white;
    padding: 2rem;
    display: flex;
}

#container{
    /* width: 50%; */
    width : 80%;
    margin: 0% 40%;
}

h1{
    text-align: center;
}

.radio-button{
    display: inline;
    vertical-align: text-bottom; 
}
input, label, button{
    display: block;
    margin-top: 0.5rem;
}

input{
    height: 1.5rem;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
}

button{
    margin-left: 2rem;
    width: 8rem;
    height: 2rem;
    font-family: 'Salsa', cursive;
    background-color: var(--primary-color);
    color: white;
    border-radius: 1rem;
    margin-top: 2rem;
}

span{
    float: left;
    font-size: x-large;
}

#container-quiz{
    width : 80%;
    margin: 0% 30%;
}

.quiz-button{
    margin-top: 2rem;
    margin-left: 10rem;
}

.question{
    margin-bottom: 1.5rem;
}

.no-bullet{
    list-style: none;
}

.list-inline{
    display: inline;
    padding: 0rem 0.5rem;
    /* padding-inline-start: 0px; */
}
.nav-bar .nav-pills{
    text-align: right;
}

nav > ul{
    background-color: var(--primary-color);
}